
.slideshow-container {
  position: relative;
  margin: auto;
}

.slider-introduction-title {
  position: absolute;
  color: #fff;
  left: 5%;
  top: 10%;
  font-size: 24px;
  text-shadow: 2px 2px #000;
  font-family: 'Roboto', sans-serif;
}

.slider-photo {
  max-width: 100%;
}

.slider-arrow {
  line-height: 575px;
  height: 575px;
}

.prev-slide, .next-slide {
  cursor: pointer;
  color: #006a9a;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next-slide {
  border-radius: 3px 0 0 3px;
}

.prev-slide:hover, .next-slide:hover {
  background-color: #008dcd;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot-slide {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #008dcd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot-slide:hover {
  background-color: #006a9a;
}

@media (min-width: 992px) {
  .features-mob-section {
    display: none;
  }

  .features-desktop {
  }

}

@media (max-width: 992px) {
  .features-mob-section {

  }

  .features-desktop {
    display: none;
  }


}