#product-extra-info {
    background: #006a9a;
    text-align: center;
    padding-top: 150px;
}

.features-section-title {
    color: #fff;
    padding-bottom: 50px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

.feature-title {
    color: #fff;
}

.feature-description {
    padding: 20px;
    text-align: justify;
    color: #fff;
}

.product-premier {
    font-size: 25px;
    padding: 20px;
    font-family: 'Lobster', cursive;
}

.product-conditions {
    padding:20px;
}

.btn-terms {
    text-decoration: none;
}

/*ostylować wszystkie stany*/

.feature-title {
    padding: 20px;
}

.feature-photo {
    width: 400px;
    height: 250px;
}