#features {
    background: url('../image/kite-surfing.png'), white;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    width: 100%;
    min-height: 100vh;
}
#features img {
    opacity: 0.6;
}
#features p {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: dodgerblue;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.feature-list {
    display: block;
}

.feature-list>li {
    display: inline-flex;
    width: 50px;
    color: dodgerblue;
    padding-top: 1em;
    padding-bottom: 1em;

}
.features-text {
    font-size: 1em;
    font-family: 'Lobster', cursive;

}

.feature-list>li:nth-child(2nd) {
    text-align: right;
}
