#features {
    background: url('../image/kite-surfing.png'), white;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    width: 100%;
    min-height: 100vh;
}

.features-naglowek {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: dodgerblue;
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#features p {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: dodgerblue;
    /*font-size: 20px;*/
    padding-top: 45px;
    padding-bottom: 40px;
    width: 270px;
}

.feature-list {
    display: flex;
    text-align: center;
    font-size: 1.5em;
}

.feature-list>li {
    /*display: flex;*/
    padding: 20px;
    color: dodgerblue;
    padding-top: 1em;
    padding-bottom: 1em;

}
.features-text {
    font-size: 1em;
    font-family: 'Lobster', cursive;
    transition: 0.3s;
}

@media screen and (min-width: 1400px) {
    #features {
        background-size: 600px;}
}
.feature-list>li>div {
    border: solid 1px;
    border-radius: 5px;
    margin: 0 auto;
    width: 25px;
    padding: 25px;
    transform: rotate(45deg);
    transition: 0.5s ease;
}
.feature-icon {
    transform: rotate(-45deg);
    display: block;
    transition: 0.5s ease;
}
.feature-list>li>div:hover {
    transform: rotate(-90deg);
    background-color: dodgerblue;
}
.feature-list>li>div:hover .feature-icon {
    transform: rotate(90deg);
    display: block;
    color: white;
}