#product-extra-info {
    background: #cbeeff;
    text-align: center;
}

.terms-and-conditions {

}

.terms-specs {
    padding: 20px;
    text-align: justify;

}

.product-premier {
    font-size: 25px;
    padding: 20px;
    font-family: 'Lobster', cursive;
}

.product-conditions {
    padding:20px;
}

.terms:link {
    text-decoration: none;

}
