#product-extra-info {
    background: #fff;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.features-section-title {
    color: #006a9a;
    padding-bottom: 75px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

.feature-title {
    color: #006a9a;
    font-size: 3vw;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #006a9a;
}

.feature-description {
    padding: 30px;
    text-align: justify;
    color: #006a9a;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 25px;
}

.product-conditions {
    padding:20px;
}

.btn-terms {
    text-decoration: none;
}

.product-photo-container {
    text-align: left;
}

.product-photo-container > img {
    /*top:0;*/
    /*left:0;*/
    width: 100%;
}

.product-feature-icon {
    font-size: 125px;
    color: #fff;
}

.icon-container {
    padding: 25px;
}

.feature-photo {
  position: relative;
  left: 3000px;
  display: block;
}

.in-view {
  position: relative;
  left: 0;
}