.footer {
    padding: 20px 0;
    position: relative;
    background-color: #222;
    width: 100%;
    font-family: 'Roboto', cursive;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.footer h1{
    font-family: 'Lobster', cursive;
}

.social-media {
    position: absolute;
    bottom: 0;
    left: 0;
    text-decoration: none;
    color: #fff;
}

.product-conditions a{
    text-decoration: underline;
    color: #555;
}
.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}
.update {
    text-align: center;
    color: white;
}