.footer {
    background-color: #222;
    width: 100%;
    font-family: 'Roboto', cursive;
    font-weight: 300;
    color: #fff;
}
.copyright {
    position: relative;
    float: right;
    right: 50px;
    top: 0;
    color: white;
}
.update {
    text-align: center;
    color: white;
}