body {
  margin: 0;
  padding: 0;
}

table {
  height: 100vh;
  width: 100%;
  border-spacing: 0;
  border: 1px solid;
}



.container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.cell {
  background: #008dcd;
  border: 0;
}

.kiter {
  background: url('../image/kiter-right.png') no-repeat, #008dcd;
  background-size: 100% auto;
}

.obstacle {
  background: url('../image/wood.png') no-repeat, #008dcd;
  background-size: 100% auto;
}

.bonus {
  background: url('../image/kaszeb.png') no-repeat, #008dcd;
  background-size: 100% auto;
}
.score-container {
  position: absolute;
  left: 0;
  top: 0;
}