nav {
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 50%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 50%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 50%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
    display: flex;
    position: fixed;
    min-width: 100%;
    justify-content: center;
    z-index: 5;
}

nav ul {
    display: flex;
}

nav ul li{
    padding: 1rem 2rem;
    line-height: 0;
    font-size: 0;
    color: transparent;
    transition: .3s linear;
}

nav ul li a{
    text-decoration: none;
}

nav ul li span{
    line-height: 1;
    font-size: 1rem;
    color: #fff;
}







