nav {
  display: flex;
  justify-content: center;
  position: fixed;
  min-width: 100%;
  z-index: 5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: rgba(0,0,0,0);
  transition: box-shadow .6s linear;
}

nav.section-look{
  box-shadow: inset 0px -5em 0px 0px rgba(0, 0, 0, 0.75);
}

nav ul {
  display: flex;
  flex-flow: row wrap;
}

nav ul li{
  transition: box-shadow .3s linear, .5s ease-out;
}

nav ul li.grow{
  padding: 1em 2em;
}

nav ul li.shrink{
  padding: .5em 1em;
}

nav ul li a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

nav ul li:hover, .active-item {
  background: #006a9a;
  box-shadow: inset 0px -12px 0px 0px rgba(0, 0, 0, 0.6);
}


li.logo, .logo {
  padding: 1em 0.5em;
}

.logo a{
  padding: 0.5em;
}

nav img {
  max-height: 2em;
  filter: brightness(1000%);
  margin: 0;
  padding:0;

}

nav div{
  display: none;
}

nav #blacked {
  background: rgba(0,0,0,0.75);
  width:100%;
  height: 100vh;
}
nav .clear{
  display: none;
}



@media screen and (max-width: 800px) {
  nav{
    flex-direction: column;
    transition: none;
  }

  nav div{
    background: #006a9a;
    box-shadow: inset 0px -48px 0px 0px rgba(0, 0, 0, 0.6);
    display: block;
    width: 100%;
    flex-direction: row;
    align-self: flex-start;
    z-index:4;
  }

  nav div img{
    padding: .5em;
  }

  nav div button{
    background: #006a9a;
    box-shadow: inset 0px -48px 0px 0px rgba(0, 0, 0, 0.6);
    border: 0;
    color: #fff;
    height: 48px;
    width:  48px;
    float: right;
    font-size: 2em;
    line-height: 48px;
    text-align: center;
  }

  nav ul li:last-child{
    background: rgba(0,0,0,0.75);
    width:100%;
    height: 100vh;
  }

  nav ul li:hover, .active-item {
    background: #006a9a;
    box-shadow: inset 0px -200px 0px 0px rgba(0, 0, 0, 0.6);
  }


  nav div img{
    float: left;
  }


  nav ul{
    width: 100%;
    display: none;
    align-self: flex-end;
    border-top: 1px solid #000;
    background: #006a9a;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: none;
  }

  nav ul li{
    height: 10vh;
    width:100%;
    overflow: hidden;
    position: relative;
  }

  nav ul li.grow{
    padding: .25em;
  }

  nav ul li.shrink{
    padding: .25em;
  }

  li.logo{
    display: none;
  }



}







