.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#team {
    color: dimgray;
    height: 100vh;
    background: #fff;
    text-align: center;
}

.section-title {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding: 50px;
}

.team-member-panel {
    padding: 20px;
}

.team-photo {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.team-member-name {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    padding: 20px;
}

.team-member-description {
    padding: 20px;
}



