#team {
    color: #fff;
    background: #006a9a;
    text-align: center;
}

.section-title {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    padding-top: 100px;
    padding-bottom:50px;
}

.team-member-panel {
    padding: 50px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 25px;
}

.team-member-name {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    padding: 35px;
}

.team-photo-container {
    text-align: center;
}

.team-photo-container img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: #222 3px 3px 16px;
    transition: .5s linear;
}

.team-photo-container img:hover {
    box-shadow: #224 3px 3px 9px 2px;
}

.team-member-description {
    padding: 5px 20px 20px;
}

.team-member-description:before{
    display: block;
    content: "";
    border-top: 1px solid #fff;
    margin: 0 1em 1em;

}

.icon-team {
    font-size: 30px;
}

.team-photo-container {
    position: relative;
    width:100%;
    height: 100%;
}

.team-photo-container > .back {
    height: 100%;
    width: 100%;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: 1s ease 0s;
    padding-bottom: 20px;
}

.team-photo-container > .front {
    transition: 1s ease 0s;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    position: absolute;
    height:100%;
    width: 100%;
}

.team-photo-container:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

.team-photo-container:hover > .front {
    transform: perspective(600px) rotateY(-180deg)
}

.social-link {
    text-decoration: none;
}

.icon-facebook3 {
    color: #fff;
}

.icon-linkedin {
    color: #fff;
}

.icon-github {
    color: #fff;
}

.social-link:hover span{
    color: #000;
    display: inline-block;
    margin-top: -5px;
}
