.teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #006a9a;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow: hidden;
}

.teaser, .teaser h1 {
  text-align: center;
}

.teaser img {
  width: 150px;
  filter: grayscale(100%) brightness(1000%);
}

.teaser h1 {
  font-weight: 400;
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
}

.teaser h2, .teaser p {
  padding-top: 1em;
  font-weight: 300;
  color: #fff;
}

.teaser h2 {
  font-size: 2em;
}

.teaser p {
  font-size: 1.5em;
}

.teaser div:nth-child(3) {
  position: absolute;
  bottom: 0;
  padding: 50px 0;
}

.teaser button {
  width: 100px;
  height: 100px;
  background: inherit;
  color: #fff;
  border-radius: 5px;
  transform: rotate(45deg);
  transition: 1s ease;
}

.btn-text {
  display: block;
  text-transform: uppercase;
  transform: rotate(-45deg);
  transition: .5s ease;
}

.btn-text a{
  color: white;
  text-decoration: none;
}

.teaser button:hover {
  transform: rotate(-90deg);
  border: 1px solid transparent;
  background: rgba(0, 106, 154, 1);
}

.teaser button:hover > .btn-text {
  transform: rotate(90deg);
  color: inherit;
}


/*___vvvvvv_paralaxa_vvvvvvv___*/

.fala-1, .fala-2, .fala-3 {
  width:250%;
}

.fala-1 {
  background:repeat-x url("../../assets/image/wave_1.png");
  height: 35px;
  padding-top: 35px;
  margin-top: 250px;
}

.fala-2 {
  background:repeat-x url("../../assets/image/wave_medium.png");
  background-color: #2b2b2b;
  height: 46px;
  padding-top: 150px;
}

.fala-3 {
  background:repeat-x url("../../assets/image/wave_3.png");
 /*background-color: #363637;*/
  height: 63px;
  padding-top: 150px;
}

